@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);
}

.dark body {
  --tt-theme-text: var(--tt-gray-dark-900);
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  width: 100%;
  min-height: 400px;
  overflow: auto;
  border: 1px solid hsl(var(--border));
  border-radius: 0.5rem;
  background: hsl(var(--background));
}

.simple-editor-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 1rem 1.5rem;
  min-height: 300px;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor:focus {
  outline: none;
}
